/*reset css */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

body {
  background-color: white;
  line-height: 1;
}

@font-face {
  font-family: 'cub';
  font-style: normal;
  font-weight: normal;
  src: local('cub'), url("../fonts/Cubano-Regular.otf") format("opentype");
  src: local('plex'), url('../fonts/Brandon/Brandon_bld.otf') format('opentype');

}

@font-face {
  font-family: 'plex-italic';
  font-style: normal;
  font-weight: normal;
  src: local('plex-italic'), url('../fonts/IBMPlexSans/WOFF/IBMPlexSans-ExtraLightItalic-V01.1.woff') format('woff');

}

@font-face {
  font-family: 'plex-italic-light';
  font-style: normal;
  font-weight: normal;
  src: local('plex-italic'), url('../fonts/IBMPlexSans/WOFF/IBMPlexSans-LightItalic-V01.1.woff') format('woff');

}

@font-face {
  font-family: 'plex-light';
  font-style: normal;
  font-weight: normal;
  src: local('plex'), url('../fonts/IBMPlexSans/WOFF/IBMPlexSans-Light-V01.1.woff') format('woff');
  src: local('plex'), url('../fonts/Brandon/Brandon_light.otf') format('opentype');
}

@font-face {
  font-family: 'plex';
  font-style: normal;
  font-weight: normal;
  src: local('plex'), url('../fonts/IBMPlexSans/WOFF/IBMPlexSans-Light-V01.1.woff') format('woff');
}

@font-face {
  font-family: 'plex-thin';
  font-style: normal;
  font-weight: normal;
  src: local('plex'), url('../fonts/Brandon/Brandon_thin.otf') format('opentype');
}

@font-face {
  font-family: 'plex-medium';
  font-style: normal;
  font-weight: normal;
  src: local('plex'), url('../fonts/IBMPlexSans/WOFF/IBMPlexSans-Medium-V01.1.woff') format('woff');
  src: local('plex'), url('../fonts/Brandon/Brandon_med.otf') format('opentype');

}

@font-face {
  font-family: 'plex-bold';
  font-style: normal;
  font-weight: normal;
  src: local('plex'), url('../fonts/IBMPlexSans/WOFF/IBMPlexSans-Bold-V01.1.woff') format('woff');
  src: local('plex'), url('../fonts/Brandon/Brandon_bld.otf') format('opentype');

}

#home {
  position: fixed;
  left: calc(50% - 150px);
  width: 300px;
  bottom: 25%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#home img {
  width: 100%;
}

#home img:nth-child(2) {
  position: absolute;
  top: 75px;
  left: -20px;
  height: 50px;
  -webkit-transition: left .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: left .15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#home:hover img:nth-child(2) {
  position: absolute;
  top: 75px;
  left: 5px;
  height: 50px;
}

#bg2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: white;
  background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 43%, rgba(131,131,168,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 43%, rgba(131,131,168,1) 100%);
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,1) 43%, rgba(131,131,168,1) 100%);
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  opacity: 1;
}

#bg3 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;

  background: -moz-linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 58%, #FFEDB5 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #FFEDB5), color-stop(42%, #FFFFFF), color-stop(100%, #FFFFFF)); /* safari4+,chrome */
  background: -webkit-linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 58%, #FFEDB5 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 58%, #FFEDB5 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 58%, #FFEDB5 100%); /* ie10+ */
  background: linear-gradient(315deg, #FFFFFF 0%, #FFFFFF 58%, #FFEDB5 100%); /* w3c */
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  opacity: 1;
}

#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;

  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#535384)) fixed;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  opacity: 1;

}

body>div:nth-child(1) {
  padding: 30px 30px;
  max-width: 750px;
  margin: 0 auto;
}



h1 {
  font-family: 'cub';
  letter-spacing: 5px;/*cub fontface*/
  font-size: 1.7em;
  position: relative;
  text-align: center;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  letter-spacing: 2px;
  top: 0px;
}

h1.intro {
  font-size: 2.1em; /*cub fontface*/
  top: 25px;
}

/*h1 {
  font-family: 'plex-bold';
  letter-spacing: 3px;
  font-size: 2em;
}*/

h4 {
  font-family: 'cub';
  letter-spacing: 2px;
  font-size: 1.5em;
  text-align: center;
}

h6 {
  font-family: 'plex-bold';
  font-size: 14px;
  text-align: center;
  margin: 0 0 45px 0;
}

a {
  font-family: 'plex-light';
  font-size: 24px;
  text-decoration: none;
  color: black;
}

/*a.active {
  font-family: 'cub';
}

#sticky-nav*/ a.active {
  font-family: 'plex-medium';
  text-decoration: underline;
}

#sticky-nav a.active {
  font-family: 'plex-medium';
  text-decoration: none;
}

p {
  font-family: 'plex-light';
  font-size: 18px;
  padding: 12px 0;
  line-height: 1.3;
  color: #161616;
}

p a {
  font-family: 'plex-medium';
  font-size: 18px;
  text-decoration: underline;
}

p span {
  font-family: 'plex-bold';
}

a:hover {
  font-family: 'plex-medium';
  cursor: pointer;
}

img {
  border-radius: 3px;
}

iframe {
  border:3px solid #000;
  border-radius: 3px !important;
}

hr {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 10px;
  max-width: 400px;
  margin-top: 65px;
  opacity: .25;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 10px;
}

.aIMG {
  opacity: 0.4;
}

.mobile-text {
  display: none;
}

#nav {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 102px 0;
  line-height: 1;
}

#nav div {
  padding: 0px 0 10px 0;
}

#nav div h1:hover {
  cursor: pointer;
}

#sticky-nav {
  position: fixed;
  top: 170px;
  left: 4%;
  left: calc(50% - 570px);
  opacity: 1;
 -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#sticky-nav.intro {
  opacity: .2;
}

#sticky-nav.intro:hover {
  opacity: 1;
}

#sticky-nav a {
  display: block;
  font-size: 24px;
  padding: 3px;
  text-align: left;
}

#sticky-nav div {
  padding-bottom: 25px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  overflow: hidden;
  opacity: 1;
  padding: 0 0 0 20px;
  position: relative;
  right: 20px;
}

#art-nav + div {
  height: 157px;
}

#project-nav + div {
  height: 91px;
}

#sticky-nav div.cleared {
  height: 0px;
  padding: 0px;
  opacity: 0;
}

#sticky-nav div a {
  font-size: 16px;
  font-family: 'plex-light';
  padding-left: 3px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: relative;
}

#sticky-nav div a:hover {
  padding-left: 10px;
}

#sticky-nav div a::before {
  display: inline-block;
  content: "";
/*  background-image: url(../assets/ico/filter.png);*/
  background-size: cover;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 3px;
  left: -18px;
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  visibility: visible;
}

#sticky-nav div a:hover::before {
  opacity: .5;
}

#sticky-nav #art-nav + div a::before {
/*  background-image: url(../assets/ico/scroll.png);*/
  height: 28px;
  width: 28px;
  top: -4px;
  left: -24px;
}

#sticky-nav div a.active {
  padding-left: 10px;
}


/* transitions */
#projects {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 -40px 0;
  opacity: 0;
}

#projects.hidden {
  display: flex;
  opacity: 0;
}

#projects.active {
  -webkit-animation: fadeInFromNone 0.4s ease-out;
  -moz-animation: fadeInFromNone 0.4s ease-out;
  -o-animation: fadeInFromNone 0.4s ease-out;
  animation: fadeInFromNone 0.4s ease-out;
  display: flex;
  opacity: 1;
}

#projects div {
  display: flex;
  flex-direction: column;
}
#art {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0;
}

#art.hidden {
  display: flex;
  opacity: 0;
}

#art.active {
  -webkit-animation: fadeInFromNone 0.4s ease-out;
  -moz-animation: fadeInFromNone 0.4s ease-out;
  -o-animation: fadeInFromNone 0.4s ease-out;
  animation: fadeInFromNone 0.4s ease-out;
  display: flex;
  opacity: 1;
}

#about {
  display: none;
  opacity: 0;
  -webkit-transition: all .45s;
  transition: all .45s;
}

#about.active {
  display: inline;
  opacity: 1;
}

#about.hidden {
  display: inline;
  opacity: 0;
}

#about p {
  font-family: 'plex';
}

#about img {
  width: 280px;
  float: right;
  margin: 0 0px 20px 20px;
}

#about img:nth-child(11) {
  float: left;
  margin: 35px 20px 20px 0px;
  width: 310px;
}

#about img.mobile {
  display: none;
}

#about div {
  margin: 55px 0px;
}

#about div p {
  font-family: 'plex-italic';
  line-height: 1.1;
  padding: 0;
  font-size: 20px;
}

#about div .desc {
  font-size: 12px;
  font-family: 'plex-medium';
  padding-bottom: 10px;
}

#about div .desc a{
  font-size: 14px;
  font-family: 'plex-bold';
}

#art h4{
  flex-basis: 100%;
  text-align: left;
  margin: 105px 0 20px 0;
  font-family: 'plex-italic';
  font-size: 24px;
  /*color: #474747;*/
  opacity: 0;
  /*font-size: 28px;*/
}

#art .audio-container+h6 {
  padding-top: 20px;
}

#art div

#art .full-width {
  flex-basis: 100%;
}

#art .full-width img {
  display: block;
  margin: 0 auto;
}

#art .full-width {
  margin: 0 auto;
  display: block;
}

#art h4:nth-child(1) {
  margin: 0 0 20px 0;
}

#art div h5 {
  font-family: 'plex-light';
  font-size: 18px;
  padding: 12px 0 8px;
  text-align: center;
  color: #161616;
}

#art div img {
  max-width: 330px;
}

#art div#alice img {
  max-width: 275px;
  overflow-y: hidden;
}

#art div#alice iframe {
  display: none;
}

#art .audio-container {
  max-width: 250px;
  height: 258px;
}

#art .audio-container audio{
  max-width: 250px;
}

#art .audio-container p {
  padding: 2px 0 33px 0;
}

#intro-text {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
/*  pointer-events: none;
*/  text-align: center;
}

#intro-text p {
  position: fixed;
  left: 40%;
  text-align: center;
  color: #161616;
}

#intro-text p a{
  font-size: 32px;
  font-family: 'plex-medium';
  text-decoration: none;
}

#intro-text p:nth-child(1) {
  font-family: 'plex-light';
  padding: 0px;
  top: 170px;
  width: 590px;
  height: 200px;
  left: calc(50% - 295px);
  font-size: 32px;
}

#intro-text p:nth-child(2) {
  font-family: 'plex-bold';

  bottom: 100px;
  font-size: 48px;
  width: 48px;
  left: calc(50% - 20px);
}

#intro-text.cleared {
  opacity: 0;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

#bg.cleared {
  opacity: 0;
}

#bg2.cleared {
  opacity: 0;
}

#bg3.cleared {
  opacity: 0;
}

#home.cleared {
  opacity: 0;
}




#projects a {
  width: 190px;
  opacity: 0;
  -webkit-transition: all .45s;
  transition: all .45s;
  pointer-events: none;
}

#projects a.focused {
  opacity: 1;
  pointer-events: auto;
}

#projects a.hover {
  opacity: 1;
  width: 200px;
}

#projects a img{
  max-width: 190px;
  display: block;
  margin: 0 auto;
}

#projects a h5 {
  font-family: 'plex-light';
  font-size: 18px;
  padding: 10px 0 5px;
  text-align: center;
  color: #161616;
}

#art .full-width-video {
  flex-basis: 100%;
  margin-top: 10px;
  height: 490px;
}

#art .full-width-video div {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
}

#art .full-width-video div iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#art .fullsize-text {
  padding-top: 10px;
}

@media only screen and (max-width : 1250px) {

  #intro-text {
    position: fixed; /* or absolute */
    width: 450px;
    top: 160px;
    left: 20%;
    left: calc(50% - 225px);
  }

  #sticky-nav {
    position: relative;
    top: -60px;
    left: 0px;
  }

  #sticky-nav a {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    padding: 0 16px 0 0;
  }

  #sticky-nav.art-nav a.active {
    font-family: 'plex-light';
    text-decoration: none;
  }
  #sticky-nav.art-nav a.active:hover {
    text-decoration: underline;
  }

}

@media only screen and (max-width : 810px) {

  .mobile-text {
    display: block;
  }

  .fullsize-text {
    display: none;
  }

  #projects {
    justify-content: center;
  }

  #projects a img{
    max-width: 140px;
    display: block;
    margin: 0 auto;
  }

  #projects a{
    width: 270px;
  }

  #art {
    justify-content: center;
  }
  #art div {
    padding: 10px;
  }

  #art div img {
    max-width: 250px;
  }

  #art .video {
    flex-basis: 100%;
    overflow: hidden;
    margin-top: 10px;
    max-width: 440px;
  }

  #art .full-width-video {
    max-width: 440px;
    height: 510px;
  }

  #art .video div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
  }

  #art .video div iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  #art div#alice img {
    display: none;
  }

  #art div#alice iframe {
    display: inline;
  }
  #art .full-width-video {
    height: 400px;
  }


}

@media only screen and (max-width : 740px) {
  #sticky-nav {
    display: none;
  }
}

@media only screen and (max-width : 685px) {
  h1 {
    font-size: 2.3em;
  }

  a {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.35em;
  }
  hr {
    opacity: 0;
    height: 0px;
  }

  h4 {
    text-align: left;
  }



  #about div {
    margin: 35px 0px;
  }

  #about p {
    clear: both;
  }

  #about div p {
    clear: none;
  }

  #about img {
    display: none;
  }

  #about img:nth-child(10) {
    float: right;
    margin: 35px 30px 20px 20px;
    max-width: 130px;
    display: inline;
  }

  #about img.mobile {
    text-align: center;
    float: none;
    margin: 0 auto;
    display: block;
    max-width: 350px;
    padding: 40px 20px;
  }


}

@media only screen and (max-width : 520px) {
  #about div p.mobile-clear {
    clear: both;
  }
}

.multiSoundDetails__mainContent {
  display: none;
}


@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}


