/*reset css */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

body {
  padding: 35px 30px;
  max-width: 750px;
  margin: 0 auto;
  background-color: white;
  line-height: 1;
}

@font-face {
  font-family: 'cub';
  font-style: normal;
  font-weight: normal;
  src: local('cub'), url("../fonts/Cubano-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'plex-italic';
  font-style: normal;
  font-weight: normal;
  src: local('plex-italic'), url('../fonts/IBMPlexSans/WOFF/IBMPlexSans-ExtraLightItalic-V01.1.woff') format('woff');
}

@font-face {
  font-family: 'plex-light';
  font-style: normal;
  font-weight: normal;
  src: local('plex'), url('../fonts/IBMPlexSans/WOFF/IBMPlexSans-Light-V01.1.woff') format('woff');
}

@font-face {
  font-family: 'plex-medium';
  font-style: normal;
  font-weight: normal;
  src: local('plex'), url('../fonts/IBMPlexSans/WOFF/IBMPlexSans-Medium-V01.1.woff') format('woff');
}

@font-face {
  font-family: 'plex-bold';
  font-style: normal;
  font-weight: normal;
  src: local('plex'), url('../fonts/IBMPlexSans/WOFF/IBMPlexSans-Bold-V01.1.woff') format('woff');
}

h1 {
  font-family: 'cub';
  letter-spacing: 5px;
  font-size: 3em;
}

h4 {
  font-family: 'cub';
  letter-spacing: 2px;
  font-size: 1.5em;
  text-align: center;
}

h6 {
  font-family: 'plex-bold';
  font-size: 14px;
  text-align: center;
  padding: 0 0 45px 0;
}

a {
  font-family: 'plex-light';
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

a.active {
  font-family: 'plex-medium';
  text-decoration: underline;
}

p {
  font-family: 'plex-light';
  font-size: 18px;
  padding: 12px 0;
  line-height: 1.3;
  color: #161616;
}

p a {
  font-family: 'plex-medium';
  font-size: 18px;
  text-decoration: underline;
}

p span {
  font-family: 'plex-bold';
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}


hr {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 10px;
  max-width: 400px;
  margin-top: 65px;
  opacity: .25;
}
hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 10px;
}

.aIMG {
  opacity: 0.4;
}

#nav {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 65px 0;
}

#nav div {
  padding: 0px 0 10px 0;
}

#nav div:nth-child(2) {
  text-align: left;
}
#nav a {
    padding: 0 20px;
}
#nav a:nth-child(1) {
  padding: 0 20px 0 0;
}

#sticky-nav {
  position: fixed;
  top: 234px;
  left: 4%;
}

#sticky-nav a {
  display: block;
  text-align: right;
  font-size: 20px;
  padding: 3px;
}

#about img {
  width: 280px;
  float: right;
  margin: 0 0px 20px 20px;
}

#about img:nth-child(10) {
  float: left;
  margin: 35px 20px 20px 0px;
  width: 310px;
}

#about img.mobile {
  display: none;
}

#about div {
  margin: 55px 0px;
}

#about div p {
  font-family: 'plex-italic';
  line-height: 1.1;
  padding: 0;
  font-size: 20px;
}

#about div .desc {
  font-size: 12px;
  font-family: 'plex-medium';
  padding-bottom: 10px;
}

#about div .desc a{
  font-size: 14px;
  font-family: 'plex-bold';
}

#art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#art h4{
  flex-basis: 100%;
  text-align: left;
  margin: 105px 0 20px 0;
}

#art .full-width {
  flex-basis: 100%;
}

#art .full-width img{
  display: block;
  margin: 0 auto;
}

#art h4:nth-child(1) {
  margin: 0 0 20px 0;
}

#art div h5 {
  font-family: 'plex-light';
  font-size: 18px;
  padding: 12px 0 8px;
  text-align: center;
  color: #161616;
}

#art div img {
  max-width: 330px;
}

#art div img.small {
  max-width: 275px;
}

#art .audio-container {
  max-width: 250px;
  height: 258px;
}

#art .audio-container audio{
  max-width: 250px;
}

#art .audio-container p {
  padding: 2px 0 33px 0;
}


#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 0 0;
}

#projects div {
  width: 220px;
}

#projects div img{
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

#projects div h5 {
  font-family: 'plex-light';
  font-size: 18px;
  padding: 10px 0 3px;
  text-align: center;
  color: #161616;
}

.full-width-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  flex-basis: 100%;
  overflow: hidden;
  margin-top: 10px;
}

.full-width-video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width : 1250px) {

  #sticky-nav {
    position: relative;
    top: -60px;
    left: 0px;
  }

  #sticky-nav a {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    padding: 0 16px 0 0;
  }

  #sticky-nav a.active {
    font-family: 'plex-light';
    text-decoration: none;
  }
  #sticky-nav a.active:hover {
    text-decoration: underline;
  }

}

@media only screen and (max-width : 740px) {
  #sticky-nav {
    display: none;
  }
  #art {
    justify-content: center;
  }
  #art div {
    padding: 10px;
  }
}

@media only screen and (max-width : 685px) {
  h1 {
    font-size: 2.3em;
  }

  a {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.35em;
  }
  hr {
    opacity: 0;
    height: 0px;
  }

  h4 {
    text-align: left;
  }

  #nav {
    padding: 0 0 30px 0;
  }

  #about div {
    margin: 35px 0px;
  }

  #about p {
    clear: both;
  }

  #about div p {
    clear: none;
  }

  #about img {
    display: none;
  }

  #about img:nth-child(10) {
    float: right;
    margin: 35px 30px 20px 20px;
    max-width: 130px;
    display: inline;
  }

  #about img.mobile {
    text-align: center;
    float: none;
    margin: 0 auto;
    display: block;
    max-width: 350px;
    padding: 40px 20px;
  }
}

@media only screen and (max-width : 520px) {
  #about div p.mobile-clear {
    clear: both;
  }
}


@keyframes da {
  from {
    transform: translate(0,0)
               rotate(0deg);
  }

  to {
    transform: translate(0,3000px)
               rotate(720deg);
  }
}

@-webkit-keyframes da {
    from {
        -webkit-transform: translate(0,0)
                            rotate(0deg);
    }
    to {
        -webkit-transform:  translate(0,3000px)
                            rotate(720deg);
    }
}

@keyframes cup {
  from {
    transform: translate(0,0)
               rotate(540deg);
  }

  to {
    transform: translate(0,3000px)
               rotate(0deg);
  }
}

@-webkit-keyframes cup {
    from {
        -webkit-transform: translate(0,0)
                       rotate(540deg);
    }
    to {
        -webkit-transform: translate(0,3000px)
                       rotate(0deg);
    }
}

@keyframes as {
  from {
    transform: translate(0,0)
               rotate(400deg);
  }

  to {
    transform: translate(0,3000px)
               rotate(0deg);
  }
}

@-webkit-keyframes as {
    from {
        -webkit-transform: translate(0,0)
                       rotate(400deg);
    }
    to {
        -webkit-transform: translate(0,3000px)
                       rotate(0deg);
    }
}

#don1 {
  position: absolute;
  left: 10%;
  top: -200px;
    -webkit-animation: da 110s infinite linear;
    animation: da 110s infinite linear;
            animation-delay: 12s;
    -webkit-animation-delay: 12s;
}

#don3 {
  position: absolute;
  left: 60%;
  top: -200px;
    -webkit-animation: as 70s infinite linear;
    animation: as 70s infinite linear;
    animation-delay: 62s;
    -webkit-animation-delay: 62s;
}

#cup1 {
    position: absolute;
  left: 84%;
  top: -200px;
    -webkit-animation: cup 150s infinite linear;
    animation: cup 150s infinite linear;
        animation-delay: 34s;
    -webkit-animation-delay: 34s;
}

.multiSoundDetails__mainContent {
  display: none;
}
