#projects {
  justify-content: space-between;
  margin: 0 0 -40px 0;
  opacity: 0;
  display: none;
}

#projects.active {
  -webkit-animation: fadeInFromNone 0.4s ease-out;
  -moz-animation: fadeInFromNone 0.4s ease-out;
  -o-animation: fadeInFromNone 0.4s ease-out;
  animation: fadeInFromNone 0.4s ease-out;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

#projects div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

#projects a {
/*  width: 170px;*/
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all .45s;
  transition: all .45s;
  pointer-events: none;
}

#projects a.focused {
  opacity: 1;
  pointer-events: auto;
}

#projects a img{
  max-width: 120px;
  display: block;
  margin: 0 auto;
  opacity: .8;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#projects a:hover img {
  opacity: 1;
}

#projects a h5 {
  font-family: 'brandon-light';
  font-size: 18px;
  padding: 10px 0 5px;
  text-align: center;
  color: #161616;
}

#projects a h6{
  -webkit-transition: all .45s;
  transition: all .45s;
  pointer-events: none;
}

#projects a h6.focused {
/*  font-size: 21px;
  bottom: 33px;*/
}

#projects a h6.filtered {
  pointer-events: none;
}

/*#projects div a:nth-child(1) {
  width: 170px;
}*/

#projects div a {
  height: 150px;
  position: relative;
}

#projects div a h6{
  margin: 0 auto;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: left;
}

#projects div a h5{
  margin: 0 auto;
  position: absolute;
  bottom: 53px;
  width: 100%;
  text-align: left;
}

#projects div a img{
  margin: 0;
  width: 100%;
/*  left: 0;
  right: 0;
*/}


#projects #AR {
  display: flex;
  width: 100%;
  padding-bottom: 56px;
/*  width: 360px;
  position: relative;
  top: 60px;
  max-height: 225px;*/
}

#projects #AR div {
  justify-content: flex-start;
  flex-direction: column;
}

#projects #AR div div {
  justify-content: flex-start;
  flex-direction: row;
  margin: 0;
  padding-left: 46px;
  width: 450px;
}

#projects #AR img{
  max-width: 386px;
  max-height: 190px;
}

#projects #AR h5{
  font-size: 24px;
  padding-left: 46px;
  height: 26px;
  text-align: left;
/*  position: relative;
  bottom: 38px;
  right: 40px;*/
}

#projects #AR h6{
/*  position: relative;
  top: -38px;*/
/*  display: inline-block;
  white-space: nowrap;
  left: 10px;*/
}

#projects #AR h6.active {
  opacity: 1;
}

#projects #AR h6.comma {
  left: 1px;
  padding-right: 10px;
}


#projects div a:nth-child(1) img{
  position: relative;
  top: 4px;
  max-width: 90px;
}


#projects div a:nth-child(2){
  position: relative;
  left: 12px;
}

#projects div a:nth-child(2) img{
  position: relative;
  top: 12px;
}

#projects div a:nth-child(3) {
  position:relative;
  right: -10px;
}

#projects div a:nth-child(3) img{
  position: relative;
  left: -30px;
}
/*
#projects div a:nth-child(4) {
  padding-top: 32px;
}*/

#projects div a:nth-child(4) img{
  max-width: 105px;
}

@media only screen and (max-width : 1250px) {
  #projects #AR {
    left: 60px;
  }
}

@media only screen and (max-width : 810px) {
  #projects {
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
  }

  #projects div {
    flex-direction: column;
  }

  #projects a h6 {
    pointer-events: none;
  }

  #projects div a h6 {
    text-align: center;
  }

  #projects div a h5 {
    text-align: center;
  }

  #projects div a img {
    margin: 0 auto;
  }

  #projects #AR {
    max-width: 100%;
    left: 0px;
    display: block;
  }

  #projects.active #AR img{
    max-width: 130px;
    max-height: 120px;
    display: block;
    margin: 0 auto;
    right: 0px;
  }

  #projects.active #AR h5 {
    bottom: 0;
    right: 0;
    font-size: 18px;
    padding-left: 0px;
    text-align: center;
    height: 18px;
  }
  #projects.active #AR h6 {
    display: none;
  }

  #projects.active #AR h6.bigdata {
    display: block;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    top: 0;
  }

  #projects.active #AR div div {
    max-width: 100%;
    padding-left: 0px;
    margin: 0 auto;
  }

  #projects.active div {
    max-width: 100%;
  }

  #projects div a:nth-child(3) img {
    left: -20px;
  }
}
